*~
*.swp
*.bak
Assignment1/_ngo/
Assignment1/_xmsgs/
Assignment1/iseconfig/
Assignment1/*.bld
Assignment1/*.chk
Assignment1/*.cmd_log
Assignment1/*.cxt
Assignment1/*.gise
Assignment1/*.gyd
Assignment1/*.jed
Assignment1/*.log
Assignment1/*.lso
Assignment1/*.mfd
Assignment1/*.nga
Assignment1/*.ngc
Assignment1/*.ngd
Assignment1/*.ngr
Assignment1/*.pad
Assignment1/*.pnx
Assignment1/*.prj
Assignment1/*.rpt
Assignment1/*.syr
Assignment1/*.tim
Assignment1/*.tspec
Assignment1/*.vm6
Assignment1/*.xml
Assignment1/*.xst
Assignment1/*.html
Assignment1/*_html/
Assignment1/*.xrpt
Assignment1/*.csv
Assignment1/*.html
Assignment1/*.prj
Assignment1/*.xrpt
Assignment1/*.lfp
Assignment1/*.nlf
Assignment1/*.ibs
Assignment1/*.stx
Assignment1/netgen/*
Assignment1/tmperr.err
Assignment1/xlnx_auto_0_xdb/
Assignment1/xst/

